/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #2d2d2d;
    color: #ffffff;
    margin: 0;
    padding: 0;
    zoom: 1.25;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #282828;
}

.logo-section {
    display: flex;
    align-items: center;
    margin-right: 25px; /* Сдвиг логотипа и названия проекта на 25 пикселей вправо */
    padding-left: 55px;
}

.logo-img {
    height: 50px;
    width: 50px;
    margin-right: 10px; /* Расстояние между логотипом и названием */
}

.projectname {
    font-size: 24px;
}

.user-info {
    display: flex;
    align-items: center;
    padding-right: 55px;
    font-size: 24px;
}

.username {
    margin-left: 10px;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #1c1c1c;
}

.main-content {
    display: flex;
    flex: 1;
    padding: 20px;
    background-color: #1a1a1a;
}

.problems {
    flex: 3;
    padding-right: 20px;
}

.categories {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.categories button {
    background-color: #3c3c3c;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #1c1c1c;
}

th, td {
    padding: 10px;
    border: 1px solid #3c3c3c;
    text-align: left;
}

th {
    font-weight: bold;
}

td {
    background-color: #2d2d2d;
}

td:first-child {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: #3c3c3c;
}

.card {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 20px;
    width: 250px;
    margin-left: 20px; /* Отступ от основного контента */
    flex-shrink: 0;
    align-self: flex-start; /* Выравнивание карточки по верхнему краю */
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 10px;
}

.user-settings {
    display: flex;
    align-items: center;
}

.user-settings span {
    margin-right: 10px;
}

.settings-icon {
    width: 20px;
    height: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-circle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
}

.circle .all {
    font-size: 14px;
    color: #ccc;
}
.circle .line {
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #ccc;
}
.circle .count {
    font-size: 30px;
    font-weight: bold;
}

.circle .total {
    font-size: 15px;
    color: #999;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.stat {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.stat .label {
    font-weight: bold;
    font-size: 18px;
}

.stat .value {
    text-align: right;
    padding-top: 2px;
}

.stat.easy .label {
    color: #00e676;
}

.stat.medium .label {
    color: #ffeb3b;
}

.stat.hard .label {
    color: #ff5252;
}
