/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #2d2d2d;
    color: #ffffff;
    margin: 0;
    padding: 0;
    zoom: 1.25;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Стили для прокрутки */
::-webkit-scrollbar {
    width: 12px; /* Ширина ползунка */
}

::-webkit-scrollbar-track {
    background: #1a1a1a; /* Цвет фона области прокрутки */
}

::-webkit-scrollbar-thumb {
    background-color: #3a3a3a; /* Цвет ползунка */
    border-radius: 10px; /* Скругление углов ползунка */
    border: 3px solid #1a1a1a; /* Полоса вокруг ползунка для эффекта отступа */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #282828;
    color: #aaaaaa; /* Цвет текста в Header */
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #1c1c1c;
    padding: 10px 0;
}

.nav a {
    color: #aaaaaa; /* Цвет текста для ссылок в навигации */
    text-decoration: none;
    padding: 0 15px;
    font-size: 18px;
}

.nav a:hover {
    color: #ffffff; /* Цвет текста при наведении */
    text-decoration: none; /* Убирает подчеркивание при наведении */
}

.nav a.active {
    color: #ffffff; /* Цвет активной ссылки */
    text-decoration: underline; /* Подчеркивание активной ссылки */
}

.logo-section {
    display: flex;
    align-items: center;
    margin-right: 25px; /* Сдвиг логотипа и названия проекта на 25 пикселей вправо */
    padding-left: 55px;
}

.logo-img {
    height: 50px;
    width: 50px;
    margin-right: 10px; /* Расстояние между логотипом и названием */
}

.projectname {
    font-size: 24px;
    color: #aaaaaa; /* Цвет текста для названия проекта */
}

.user-info {
    display: flex;
    align-items: center;
    padding-right: 55px;
    font-size: 24px;
    color: #aaaaaa; /* Цвет текста для информации о пользователе */
}

.username {
    margin-left: 10px;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #1c1c1c;
}

.main-content {
    display: flex;
    flex: 1;
    padding: 20px;
    background-color: #1a1a1a;
}

.problems {
    flex: 3;
    padding-right: 20px;
}

.search-bar {
    width: 20%; /* Уменьшена ширина строки поиска */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #3c3c3c;
    background-color: #2d2d2d;
    color: #ffffff;
}

.categories {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.categories button {
    background-color: #3c3c3c;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: #ffffff; /* Цвет текста */
}

.categories button i {
    margin-right: 8px; /* Отступ между иконкой и текстом */
}

.categories button:hover {
    background-color: #2e2e2e; /* Цвет темнее на 20% */
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #1c1c1c;
}

th, td {
    padding: 10px;
    border: 1px solid #3c3c3c;
    text-align: left;
}

th {
    font-weight: bold;
}

td {
    background-color: #2d2d2d;
}

td:first-child {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: #3c3c3c;
}

.card {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 20px;
    width: 250px;
    margin-left: 20px; /* Отступ от основного контента */
    flex-shrink: 0;
    align-self: flex-start; /* Выравнивание карточки по верхнему краю */
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 10px;
}

.user-settings {
    display: flex;
    align-items: center;
}

.user-settings span {
    margin-right: 10px;
}

.settings-icon {
    width: 20px;
    height: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-circle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #444;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
}

.circle .all {
    font-size: 14px;
    color: #ccc;
}

.circle .count {
    font-size: 35px;
    font-weight: bold;
}

.circle .line {
    margin-top: -18px;
    margin-bottom: 2px;
}

.circle .total {
    font-size: 15px;
    color: #999;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.stat {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.stat .label {
    font-weight: bold;
    font-size: 18px;
}

.stat .value {
    text-align: right;
    padding-top: 2px;
}

.stat.easy .label {
    color: #00e676;
}

.stat.medium .label {
    color: #ffeb3b;
}

.stat.hard .label {
    color: #ff5252;
}
